.container {
  display: flex;
  flex-direction: column; /* Ensures vertical alignment */
  justify-content: center; /* Centers vertically */
  height: 100vh; /* Full viewport height */
}
.box {
  padding: 7px;
  color: white;
  font-weight: bold;
  background-color: rgb(100, 57, 1);
  margin: 5px;
  width: 50%;
  margin: 5px auto;
}
