.container {
  display: flex;
  flex-direction: column; /* Ensures vertical alignment */
  justify-content: center; /* Centers vertically */
  height: 100vh; /* Full viewport height */
}
.box {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;

  color: white;
  font-weight: bold;
  background-color: rgb(100, 57, 1);
  margin: 5px;
  width: 30%;
  margin: 5px auto;
}

.question {
  width: fit-content;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0); /* Black shadow */
}
